.map {
  background: #fff;
}
/* .map__territory {
  pointer-events: painted;
} */
.map__territory-bg {
  opacity: 0.9;
  transition: opacity 0.1s;
}
.map__occupied-territory {
  opacity: 0.5;
}
.map__territory-border {
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
}
.map__territory:hover .map__territory-bg {
  opacity: 0.65;
}
.map__region {
  pointer-events: none;
  stroke-width: 10;
  stroke-opacity: 1;
  stroke-linejoin: round;
  fill: transparent;
}
.map__vp {
  fill: #fff;
  stroke-linejoin: round;
  stroke: rgba(0, 0, 0, 0.8);
  stroke-width: 1;
  opacity: 0.5;
}
.map__territory-label {
  font-size: 11px;
  text-shadow: -3px -3px 1px #000, 3px -3px 1px #000, 3px 3px 1px #000,
    -3px 3px 1px #000;
  pointer-events: none;
  fill: #fff;
  fill-opacity: 0.8;
  font-weight: 300;
}
.map__territory-label.is-vp {
  font-weight: 600;
  fill-opacity: 1;
}
